body{
	background: rgba(117,157,227,0.3);
	font-family: 'Montserrat',Arial, sans-serif;
}
.wrapper{
	background:#fff;
	margin-top:2%;
	margin-bottom:5%;
}
@media screen and (max-width: 768px) {
	.wrapper{
		margin-top:5%;
	}
}
/* -----------------------------------------------div LEFT - RIGHT -corner + language----------------------------------------------*/
.div-logo{
	margin-top:5%;
	padding-left:0!important
}
.wrap-lang{
	padding:0!important;
	margin-top:8%
}
.div-srb, .div-eng{
	padding:0!important;
	cursor:pointer;
}
.img-lang{
	border:4px solid rgba(117,157,227,0.2);
	opacity:0.9;
}
.img-lang:hover{
	border:4px solid rgba(117,157,227,0.8)
}
@media screen and (max-width: 768px) {
	.div-logo{
		margin-top:12%;
		padding-left:10px!important
}
	.wrap-lang{
		border:padding:0!important;
		margin-top:13%
}
	.img-lang{
		border:2px solid rgba(117,157,227,0.4);
		opacity:0.9
}
}
/* -----------------------------------------------LOGO----------------------------------------------*/
.logo{
	opacity:0.9;
	margin-top: -2%
}
/* -----------------------------------------------profesor----------------------------------------------*/
.wrap-all{
	background:rgba(117,157,227,0.1);
	margin-top:80px;
	border:1px solid rgba(117,157,227,0.4);
	border-radius:5px;
	padding:20px;
}
.wrap-left-right{
	padding:0
}
.left-block-1{
	padding-bottom:100px
}
.left-block-2{
	margin-top:35px;
	padding-top:50px;
	padding-bottom:50px;
	border-top:1px solid #81a8cf;
	border-bottom:1px solid #81a8cf;
	line-height:40px;
	color:#6C7888;
	font-size:1.8em;
	font-weight:700
}
.right-block{
	background:#fff;
	line-height:30px;
	padding:20px
}
.p-custom{
	margin-bottom:10px
}
@media (max-width: 768px) {
	.wrap-all{
		margin-top:50px;
		border-radius:0;
		padding:20px;
		border:none;
		border-top:1px solid rgba(117,157,227,0.4);
	}
	.left-block-1{
		padding-bottom:20px
}
	.left-block-2{
		margin-top:35px;
		padding-top:20px;
		padding-bottom:20px;
	}
	.right-block{
		line-height:25px;
		padding:0;
		outline:10px solid #fff;
		margin-top:30px
}
}
/* -----------------------------------------------dugme-nazad----------------------------------------------*/
.dugme-nazad-wrap{
	margin-top:90px;
	margin-bottom:90px
}
.dugme-nazad{
	border-radius:5px;
	padding:10px;
	font-size:1em;
	background: #FAFAFA;
	color:#0699db;
	border:1px solid #81a8cf;
	box-shadow: 2px 2px 15px 0px rgba(50, 50, 50, 0.3);
}
.dugme-nazad:hover{
	color:#FFFFFF;
	background:rgba(117,157,227,1);
	border:1px solid #2d3e50;
}
@media (max-width: 768px) {
	.dugme-nazad-wrap{
		margin-top:60px;
		margin-bottom:60px
}
}
