body{
	background: rgba(117,157,227,0.3);
	font-family: 'Montserrat',Arial, sans-serif;
}
.wrapper{
	background:#fff;
	margin-top:2%;
	margin-bottom:5%;
}
@media screen and (max-width: 768px) {
	.wrapper{
		margin-top:5%;
	}
}
/* -----------------------------------------------div LEFT - RIGHT -corner + language----------------------------------------------*/
.left-corner, .right-corner{
	padding:0!important
}
.right-corner{
	margin-top:50px
}
.img-sert{
	opacity:0.8
}
.wrap-lang{
	padding:0!important;
	margin-top:3%
}
.div-srb, .div-eng{
	padding:0!important;
	cursor:pointer;
}
.img-lang{
	border:4px solid rgba(117,157,227,0.2);
	opacity:0.9;
}
.img-lang:hover{
	border:4px solid rgba(117,157,227,0.8)
}
@media screen and (max-width: 768px) {
	.wrap-lang{
		border:padding:0!important;
		margin-top:5%
}
	.img-lang{
		border:2px solid rgba(117,157,227,0.4);
		opacity:0.9
}
}
/* -----------------------------------------------LOGO----------------------------------------------*/
.logo{
	opacity:0.9;
	margin-top: -2%
}
@media (max-width: 768px) {
	.logo{
		margin-top:15%
}
}
/* -----------------------------------------------SERTIFIKAT naslov----------------------------------------------*/
.sertifikat{
	margin-top:70px;
	font-size:2em;
	color:#6C7888;
	font-weight:500
}
@media (max-width: 768px) {
	.sertifikat{
		margin-top:40px;
		font-size:1.5em;
	}
}
/* -----------------------------------------------SERTIFIKAT podaci----------------------------------------------*/
.ime-prezime-wrap{
	margin-top:50px;
	line-height:60px;
	font-weight:bold;
	color:#81a8cf;
	font-size:2.5em;
}
.dugme-scratch-level-img{
	position:relative;
	top:15px
}
.dugme-scratch-level-img:hover{
	animation: scratch-level-dugme linear 1s;
	animation-iteration-count: 1;
	transform-origin: 50% 50%;
	cursor:pointer
}
@keyframes scratch-level-dugme{
	0% {
		transform: rotate(0deg) ;
	}
	20% {
		transform: rotate(15deg) ;
	}
	40% {
		transform: rotate(-10deg) ;
	}
	60% {
		transform: rotate(5deg) ;
	}
	80% {
		transform: rotate(-5deg) ;
	}
	100% {
		transform: rotate(0deg) ;
	}
}
.dugme-listaSertifikata {
	box-shadow: 2px 2px 2px 1px #9fb4f2;
	background:linear-gradient(to bottom, #92a9d1 5%, #5584bd 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#92a9d1', endColorstr='#5584bd',GradientType=0);
	background-color:#92a9d1;
	margin-left:15px;
	border-radius:4px;
	display:inline-block;
	cursor:pointer;
	letter-spacing:2px;
	text-decoration:none;
	color:#ffffff!important;
	font-family:Arial;
	font-weight:500!important;
	line-height:15px;
	font-size:19px;
	padding:8px 12px;
	text-decoration:none!important;
	text-shadow:1px 1px 0px #283966;
}
.dugme-listaSertifikata:visited{
	text-decoration:none!important;
	color:#ffffff!important;
}
.dugme-listaSertifikata:hover {
	text-decoration:none;
	color:#ffffff;
	background:linear-gradient(to bottom, #5584bd 5%, #92a9d1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5584bd', endColorstr='#92a9d1',GradientType=0);
	background-color:#5584bd;
}
.dugme-listaSertifikata:active {
	position:relative;
	top:1px;
}
.podatak-wrap{
	margin-top:25px;
	line-height:20px
}
.podatak-naziv{
	text-align:right
}
.kurs-naziv-change{
	text-transform:uppercase
}
.podatak{
	font-weight:500;
	color:#81a8cf;
	font-size:1.1em
}
@media (max-width: 425px) {
	.ime-prezime-wrap{
		line-height:30px;
		font-size:1.5em;
		margin-top:20px;
		text-align:center;
		margin-top:40px
}
	.dugme-listaSertifikata{
		margin-top:30px;
		margin-bottom:20px
}
	.podatak-wrap{
		margin-top:25px;
		line-height:19px;
	}
	.podatak-naziv{
		font-size:0.9em;
		text-align:left;
		padding-left:0!important;
	}
	.podatak{
		font-size:0.9em;
		padding-left:0!important;
		padding-right:0!important;
	}
}
@media (max-width: 991px){
	.dugme-scratch-level-img{
		text-align:center!important;
		display:block;
		margin:0 auto;
		margin-bottom:40px
}
}
/* -----------------------------------------------PROFESORI----------------------------------------------*/
.profesori-naslov{
	margin-top:90px;
	margin-bottom:50px;
	font-size:18px
}
.prof1-wrap{
	background: #F0F0F0;
	border:1px solid rgba(117,157,227,0.4)
}

.prof-text-wrap{
	padding:0!important;
	line-height:40px;
	font-weight:800;
	color:#81a8cf ;
	font-size:1.1em ;
}
.prof-text{
	margin-top:50px;
	height:160px
}
.prof-slika-wrap{
	padding-top:20px;
	padding-bottom:20px
}
.prof-slika-wrap > img{
	border:2px solid rgba(117,157,227,0.8)
}
@media (max-width: 768px) {
	.profesori-naslov{
		font-size:16px
}
	.profesori-naslov{
		margin-top:50px;
	}
	.prof1-wrap{
		border:2px solid #fff;
		border-top: none;
		border-bottom-width:25px;
		padding:0!important;
	}
	.prof-text-wrap{
		line-height:30px;
		border:1px solid #F0F0F0
}
	.prof-text{
		margin-top:20px;
		height:90px
}
	.prof-slika-wrap1{
		margin-top:20px
}
}

@media (min-width: 425px) and (max-width: 767px){

.prof-slika-wrap > img{
 width:60%; margin:0 auto
}

}



@media (min-width: 769px) and (max-width: 1199px){
	.prof1-wrap{
		padding:0!important;
	}
	.prof-text-wrap{
		line-height:25px;
	}
	.prof-text{
		margin-top:30px;
		height:120px
}
	.prof-slika-wrap1{
		margin-top:0
}
}
.div-search-inner{
	padding:5px 0;
	color:#FFFFFF;
	background:rgba(117,157,227,0.6);
	border:1px solid #2d3e50;
	border-radius:5px;
	cursor: pointer;
	font-size:0.9em;
	font-weight:300;
	line-height:20px
}
.div-search-inner:hover{
	background:rgba(117,157,227,1)
}
/* -----------------------------------------------dugme-nazad----------------------------------------------*/
.dugme-nazad-wrap{
	margin-top:90px
}
.dugme-nazad{
	border-radius:5px;
	padding:10px;
	font-size:1em;
	background: #FAFAFA;
	color:#0699db;
	border:1px solid #81a8cf;
	box-shadow: 2px 2px 15px 0px rgba(50, 50, 50, 0.3);
}
.dugme-nazad:hover{
	color:#FFFFFF;
	background:rgba(117,157,227,1);
	border:1px solid #2d3e50;
}
@media (max-width: 768px) {
	.dugme-nazad-wrap{
		margin-top:60px
}
}
/* -----------------------------------------------scratch sertifikat - modal----------------------------------------------*/
.modal-scratch{
	top:20px!important
}
.modal-scratch-dialog{
	margin-top:0!important
}
.modal-header{
	border-bottom:none;
	background:rgba(248,177,59,0.5);
	padding:15px
}
.modal-body {
	border-bottom:none
}
.nivo-img{
	-webkit-animation: scale-up-hor-left 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-hor-left 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.modal-div-ime{
	padding:50px 15px 45px ;
}
.modal-div-ime-p{
	line-height:40px;
	font-weight:500;
	color:#81a8cf;
	font-size:1.8em;
	text-transform:uppercase
}
.modal-row{
	border-top:1px solid rgb(6,153,219,0.2);
}
.div-scratch-level{
	line-height:80px;
	text-align:left;
	font-weight:700;
	color:#f7aa2b;
	font-family:Arial, Helvetica, sans-serif;
	word-spacing:5px;
	font-size:1.3em ;
}
/* ----------------------------------------------* Generated by Animista on 2019-8-12 1:40:29* w: http://animista.net, t: @cssanimista* ---------------------------------------------- */
/*** ----------------------------------------* animation scale-up-hor-left* ----------------------------------------*/
@-webkit-keyframes scale-up-hor-left {
	0% {
		-webkit-transform: scaleX(0.4);
		transform: scaleX(0.4);
		-webkit-transform-origin: 0% 0%;
		transform-origin: 0% 0%;
	}
	100% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
		-webkit-transform-origin: 0% 0%;
		transform-origin: 0% 0%;
	}
}
@keyframes scale-up-hor-left {
	0% {
		-webkit-transform: scaleX(0.4);
		transform: scaleX(0.4);
		-webkit-transform-origin: 0% 0%;
		transform-origin: 0% 0%;
	}
	100% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
		-webkit-transform-origin: 0% 0%;
		transform-origin: 0% 0%;
	}
}
.scratch-name{
	font-weight:500
}
.modal-footer{
	border-top:none;
	background:rgba(248,177,59,0.5);
}
@media (max-width: 425px) {
	.modal-div-ime{
		margin-top:120px
}
	.modal-div-ime-p{
		line-height:40px;
		font-weight:500;
		color:#81a8cf;
		font-size:1.4em;
		text-transform:uppercase;
}
	.div-scratch-level{
		line-height:80px;
		text-align:center;
		font-weight:700;
		color:#f7aa2b;
		word-spacing:5px;
		font-size:0.8em
}
	.scratch-name{
		font-weight:400;
}
}
