<!doctype html>
<html class="no-js" lang="sr-rs">
<head>
<title>Naslov posta(treba da sadrži kljucne reci i ne bude identican sa h1 naslovom), deo posle crtcice ostaje isti| IT ZA DECU-baza znanja</title>
<!-- Meta Tags -->
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1">
<meta name="description" content="IT ZA DECU -  Istražujući aktuelne edukativne članke iz naše baze znanja u prilici smo da zajedno otkrivamo svet programiranja...">
<meta name="keywords" content="IT za decu, programiranje za decu, scratch, python, programski jezici, baza znanja">
<meta name="geo.region" content="RS">
<meta name="geo.placename" content="Београд">
<meta name="distribution" content="global">
<meta name="Revisit-after" content="1 days">
<meta http-equiv="Cache-control" content="no-cache">
<meta name="city" content="Beograd">
<meta name="country" content="Serbia (Srbija)">
<meta name="author" content="Edukativni centar | www.procoding.rs">
<!-- Favicon and Touch Icons -->
<link href="../images/favicon.png" rel="shortcut icon" type="image/png">
<link href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
<!-- animation -->
<link rel="stylesheet" href="../css/animate.css" />
<!-- bootstrap -->
<link rel="stylesheet" href="../css/bootstrap.css" />
<!-- font-awesome icon -->
<link rel="stylesheet" href="../css/font-awesome.min.css" />
<!-- style -->
<link rel="stylesheet" href="../css/css.css" />
<!-- responsive -->
<link rel="stylesheet" href="../css/responsive.css" />
<link rel="stylesheet" href="../css/style.css" />
<link rel="stylesheet" href="../css/single-post.css" />
<!--[if IE]>
            <link rel="stylesheet" href="css/style-ie.css" />
        <![endif]-->
<!--[if IE]>
            <script src="js/html5shiv.js"></script>
        <![endif]-->
</head>
<body>
<!-- ****************************************************** HEADER ************************************************************-->
<header>
  <!-- navigation panel -->
  <nav class="navbar navbar-default navbar-fixed-top nav-transparent  sticky-nav nav-border-bottom nav-light-transparent" role="navigation">
    <div class="container container-custom">
      <div class="row" >
        <!-- logo -->
        <div class="col-md-2 col-sm-3 col-xs-7 wrap-logo"> <a  href="index.html"> <img class="logo-img img-responsive" alt="logo - It za decu" src="../images/logo.png"/></a> </div>
        <!-- end logo -->
        <!-- main menu -->
        <div class="col-md-5  accordion-menu">
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav mainNav-ul">
              <li class="mainNav-li"><a href="../index.html" class="mainNav-a">It za decu</a> </li>
              <li class="mainNav-li"><a href="../baza-znanja.html" class="mainNav-a">Baza znanja</a> </li>
              <li class="mainNav-li"><a href="../it-zanimljivosti.html" class="mainNav-a">It zanimljivosti</a> </li>
            </ul>
          </div>
        </div>
        <!-- end main menu -->
        <!-- nav social-links-->
        <div class="col-md-5 col-sm-7 col-xs-3 wrap-soc-links text-left"> <a target="_blank" title="Facebook stranica  'Procoding'" href="https://www.facebook.com/centarprocoding/" class="link-social"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a target="_blank" title="YouTube kanal  'Procoding'" href="https://www.youtube.com/channel/UCB-9j-ZWLvjXz35oefFOJ_A/" class="link-social"><i class="fa fa-youtube" aria-hidden="true"></i></a> <a target="_blank" title="Instagram profil  'Procoding'" href="https://www.instagram.com/procoding_/" class="link-social"><i class="fa fa-instagram" aria-hidden="true"></i></a> <a  target="_blank" title="Telefon  'Procoding'" href="tel:+381621513644"  class="link-social tel-header"> 062 / 151-36-44</a> <a target="_blank" title="Email  'Procoding'" href="mailto:info@procoding.rs" class="link-social mail-header"> info@procoding.rs</a>
       
          <!-- end social-links -->
        </div>
        <!-- end search and cart  -->
        <!-- toggle navigation -->
        <div class="navbar-header col-sm-1 col-sm-offset-0 col-xs-2 col-xs-offset-3">
          <button type="button" class="navbar-toggle dugme-navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
        <!-- toggle navigation end -->
      </div>
    </div>
  </nav>
  <!-- end navigation panel -->
</header>
<!-- ******************************************************END OF  HEADER ************************************************************-->
<!-- ****************************************************************MAIN************************************************************-->
<main>
  <!-- content section -->
  <section class="wow fadeIn section-wrap-single">
    <div class="container">
      <div class="row">
        <!-- content  -->
        <div class="col-md-11 col-md-offset-1 col-xs-12 wrap-content">
          <div class="col-md-9 col-sm-8 col-sm-offset-1 col-xs-12">
            <!--h1 NASLOV-->
            <h1 class="blog-details-headline h1-sigle-post">GLAVNI naslov nekog posta naslov nekog POSTA H1</h1>
            <!-- end H1 naslov  -->
            <!-- post objava + datum -->
            <div class="blog-date blog-date-1">
              <!-- post objava -->
              <p class="p-objava-naslov">objavio:</p>
              <p class="p-objava"> it za decu - <span class="text-lowercase"> <a href="https://www.procoding.rs/" class="a-custom"> member of procoding group</a> </span></p>
            </div>
            <span class="crta"> &nbsp;|&nbsp; </span>
            <!-- post datum -->
            <div class="blog-date blog-date-2">
              <p class="p-datum-naslov">datum objave:</p>
              <p class="p-datum">02 Avgust 2019</p>
            </div>
            <!-- post image -->
            <div class="blog-image margin-six"><img src="../images/post-1.jpg" alt="" ></div>
            <!-- end post image -->
            <!-- post text -->
            <div>
              <p class="p-custom-post">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the standard dummy text.</p>
              <!--h2 PODNASLOV-->
              <h2 class="blog-details-headline h2-custom-post"> podnaslov kome je namenjen sajt it za decu? </h2>
              <!--END h2 PODNASLOV-->
              <!--mala slika unutar posta-->
              <div class="col-md-5 margin-two wrap-small-image"> <img src="../images/kibo-320x202.jpg" alt="" ></div>
              <!--end mala slika unutar posta-->
              <p class="p-custom-post">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the standard dummy text. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the standard dummy text.</p>
              <p class="p-custom-post">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the standard dummy text.</p>
              <!--h2 PODNASLOV-->
              <h2 class="blog-details-headline h2-custom-post">podnaslov kome je namenjen sajt it za decu? </h2>
              <!--END h2 PODNASLOV-->
              <!--mala slika unutar posta-->
              <div class="col-md-5 margin-two wrap-small-image"> <img src="../images/scratch-blog-320x202.jpg" alt="" ></div>
              <!--end mala slika unutar posta-->
              <p class="p-custom-post">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the standard dummy text. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the standard dummy text.</p>
              <div class="col-md-12 text-center">
                <div class="addthis_inline_share_toolbox div-share" style=" display:inline"></div>
              </div>
            </div>
            <!-- end post text -->
          </div>
        </div>
        <!-- end content  -->
      </div>
    </div>
  </section>
  <!-- end content section -->
  <!-- button left + right -->
  <div class="col-md-12 col-sm-12 col-xs-12 text-center wrap-buttons"> <img src="../images/arrow-pre-small.png" alt="strelica levo"> <a href="../baza-znanja.html" class="highlight-button btn btn-small btn-round button xs-margin-bottom-five">&nbsp;&nbsp;&nbsp;baza znanja&nbsp;&nbsp;&nbsp;</a> <a href="../it-zanimljivosti.html" class="highlight-button btn btn-small btn-round button xs-margin-bottom-five"  style="margin-right:0">it zanimljivosti</a> <img src="../images/arrow-next-small.png" alt="strelica desno" style="margin-left:0"> </div>
  <!-- end button left + right -->
</main>
<!-- ******************************************************END OF  MAIN ************************************************************-->
<!-- ***************************************************************FOOTER************************************************************-->
<!-- footer -->
<footer class="footer">
  <div class="container footer-middle" style=" padding-top:0">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-12 text-center sm-text-center  footer-links-wrap">
        <!-- link -->
        <ul class="list-inline footer-link text-uppercase">
          <li class="mainNav-li footer-nav-li"><a href="../index.html" class="mainNav-a footer-nav-a">It za decu</a> </li>
          <li class="mainNav-li footer-nav-li"><a href="../baza-znanja.html" class="mainNav-a footer-nav-a footer-nav-a-active"><i class="fa fa-check-square-o" style="color:#1a98d5"></i>Baza znanja / post</a> </li>
          <li class="mainNav-li footer-nav-li"><a href="../it-zanimljivosti.html" class="mainNav-a footer-nav-a ">It zanimljivosti</a> </li>
          <li class="mainNav-li footer-nav-li"><a href="../kontakt.html" class="mainNav-a footer-nav-a">Kontakt</a></li>
        </ul>
      </div>
      <div class="col-md-5 col-sm-12 footer-social text-right sm-text-center footer-social-wrap">
        <!-- social media link -->
        <a href="https://www.facebook.com/centarprocoding/" class="btn social-icon social-icon-medium button" target="_blank"> <i class="fa fa-facebook"></i></a> <a href="https://www.youtube.com/channel/UCB-9j-ZWLvjXz35oefFOJ_A/" class="btn social-icon social-icon-medium button" target="_blank"> <i class="fa fa-youtube"></i></a> <a href="https://www.instagram.com/procoding_/" class="btn social-icon social-icon-medium button" target="_blank"><i class="fa fa-instagram"></i></a>
        <!-- end social media link -->
      </div>
	   <div class="col-md-5 tel-mail-mob text-center"> <a  target="_blank" title="Instagram profil  'Procoding'" href="tel:+381621513644"  class="tel-mob"> <i class="fa fa-phone" style="color:#f7942e"></i> 062 / 151-36-44</a> <a target="_blank" title="Instagram profil  'Procoding'" href="info@procoding.rs" class="mail-mob"> <i class="fa fa-envelope" style="color:#f7942e"></i> info@procoding.rs</a> </div>
    </div>
  </div>
  <div class="container-fluid  footer-bottom">
    <div class="container">
      <div class="row margin-three">
        <!-- copyright -->
        <div class="col-md-12 col-sm-12 col-xs-12 copyright text-center letter-spacing-1 xs-text-center xs-margin-bottom-one white-text"> &copy; 2019 IT ZA DECU - <span class="text-lowercase">member of procoding group </span></div>
        <!-- end copyright -->
      </div>
    </div>
  </div>
  <!-- scroll to top -->
  <a href="#top" class="scrollToTop" style="background:#f7942e"><i class="fa fa-angle-up"></i></a>
  <!-- scroll to top End... -->
</footer>
<!-- end footer -->
<!-- ******************************************************END OF  FOOTER ************************************************************-->
<script type="text/javascript" src="../js/js-libraries.js"></script>
<script type="text/javascript" src="../js/smooth-scroll.js"></script>
<!-- jquery appear - animation - page scroll  - easy piechart -parallax -owl slider  -  imagesloaded -->
<script type="text/javascript" src="../js/js-other.js"></script>
<!-- revolution slider  -->
<script type="text/javascript" src="../js/jquery.tools.min.js"></script>
<script type="text/javascript" src="../js/jquery.revolution.js"></script>
<!-- setting -->
<script type="text/javascript" src="../js/main.js"></script>
<script type="text/javascript" src="../js/js-custom.js"></script>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<!-- <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5d627d201aba4b31"></script> -->
</body>
</html>
