<!doctype html>
<html class="no-js" lang="sr-rs">
<head>
<title>Baza znanja - otkrivamo zajedno svet programiranja | IT ZA DECU</title>
<!-- Meta Tags -->
<meta charset="utf-8"><!--isto-->
<meta http-equiv="content-type" content="text/html; charset=UTF-8"><!--isto-->
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1"><!--isto-->
<meta name="description" content="IT ZA DECU -  Istražujući aktuelne edukativne članke iz naše baze znanja u prilici smo da zajedno otkrivamo svet programiranja..."><!--nije-->
<meta name="keywords" content="IT za decu, programiranje za decu, scratch, python, programski jezici, baza znanja"><!--isto-->
<meta name="geo.region" content="RS"><!--isto-->
<meta name="geo.placename" content="Београд"><!--isto-->
<meta name="distribution" content="global"><!--isto-->
<meta name="Revisit-after" content="1 days"><!--isto-->
<meta http-equiv="Cache-control" content="no-cache"><!--isto-->
<meta name="city" content="Beograd"><!--isto-->
<meta name="country" content="Serbia (Srbija)"><!--isto-->
<meta name="author" content="Edukativni centar | www.procoding.rs"><!--isto-->
<!-- Favicon and Touch Icons -->
<link href="images/favicon.png" rel="shortcut icon" type="image/png"><!--isto-->
<link href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'><!--isto-->
<!-- animation -->
<link rel="stylesheet" href="css/animate.css" /><!--isto-->
<!-- bootstrap -->
<link rel="stylesheet" href="css/bootstrap.css" /><!--isto-->

<!-- font-awesome icon -->
<link rel="stylesheet" href="css/font-awesome.min.css" /><!--isto-->

<!-- style -->
<link rel="stylesheet" href="css/css.css" /><!--isto-->
<!-- responsive -->
<link rel="stylesheet" href="css/responsive.css" /><!--isto-->
<link rel="stylesheet" href="css/style.css" /><!--isto-->
<link rel="stylesheet" href="css/post-group.css" /><!--isto-->
<!--[if IE]>
            <link rel="stylesheet" href="css/style-ie.css" />
        <![endif]--><!--isto-->
<!--[if IE]>
            <script src="js/html5shiv.js"></script>
        <![endif]-->
</head>
<body>
<!-- ****************************************************** HEADER ************************************************************-->
<header>
  <!-- navigation panel -->
  <nav class="navbar navbar-default navbar-fixed-top nav-transparent  sticky-nav nav-border-bottom nav-light-transparent" role="navigation">
    <div class="container container-custom">
      <div class="row" >
        <!-- logo -->
        <div class="col-md-2 col-sm-3 col-xs-7 wrap-logo"> <a  href="index.html"> <img class="logo-img img-responsive" alt="logo - It za decu" src="images/logo.png"/></a> </div>
        <!-- end logo -->
        <!-- main menu -->
        <div class="col-md-5  accordion-menu">
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav mainNav-ul">
              <li class="mainNav-li" style=""><a href="index.html" class="mainNav-a">It za decu</a> </li>
              <li class="mainNav-li"><a href="baza-znanja.html" class="mainNav-a a-active">Baza znanja</a> </li>
              <li class="mainNav-li"><a href="it-zanimljivosti.html" class="mainNav-a">It zanimljivosti</a> </li>
            </ul>
          </div>
        </div>
        <!-- end main menu -->
        <!-- nav social-links-->
        <div class="col-md-5 col-sm-7 col-xs-3 wrap-soc-links text-left"> <a target="_blank" title="Facebook stranica  'Procoding'" href="https://www.facebook.com/centarprocoding/" class="link-social"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a target="_blank" title="YouTube kanal  'Procoding'" href="https://www.youtube.com/channel/UCB-9j-ZWLvjXz35oefFOJ_A/" class="link-social"><i class="fa fa-youtube" aria-hidden="true"></i></a> <a target="_blank" title="Instagram profil  'Procoding'" href="https://www.instagram.com/procoding_/" class="link-social"><i class="fa fa-instagram" aria-hidden="true"></i></a> 
		 <a  target="_blank" title="Telefon  'Procoding'" href="tel:+381621513644"  class="link-social tel-header"> 062 / 151-36-44</a> <a target="_blank" title="Email  'Procoding'" href="mailto:info@procoding.rs" class="link-social mail-header"> info@procoding.rs</a>
       
          <!-- end social-links -->
        </div>
        <!-- end search and cart  -->
        <!-- toggle navigation -->
        <div class="navbar-header col-sm-1 col-sm-offset-0 col-xs-2 col-xs-offset-3">
          <button type="button" class="navbar-toggle dugme-navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
        <!-- toggle navigation end -->
      </div>
    </div>
  </nav>
  <!-- end navigation panel -->
</header>

 <!-- h1 section -->
  <section class="content-top-margin page-title page-title-small  wrap-h1 post-wrap-h1">
    <div class="container">
      <div class="row">
        <div class="col-md-12  col-sm-12 text-center wow fadeInUp">
          <!-- h1 -->
          <h1 class="h1-custom margin-two post-h1">PROGRAMIRANJE ZA DECU - BAZA ZNANJA</h1>
          <!-- end h1 -->
        </div>
      </div>
    </div>
  </section>
  <!-- end h1 section -->
<!-- ******************************************************END OF  HEADER ************************************************************-->
<!-- ****************************************************************MAIN************************************************************-->
<main class="main-post">
  <!-- ***********************************POST text-section********************************************* -->
  <section class="postSum">
    <div class="container">
      <div class="row">
        <!-- content  -->
        <div class="col-md-10 col-md-offset-1 col-xs-12 margin-five post-container">
          <!-- post image -->
          <div class="col-md-6  wow fadeInUp blog-listing post-wrap-img" data-wow-duration="500ms">
            <div class="blog-image"><a href="post-single/post-text-single.html"><img class=" img-responsive" src="images/post-1.jpg" alt="opis slike"/></a></div>
          </div>
          <!-- post objava -->
          <div class="col-md-6 blog-details">
            <div class="blog-date">
              <p class="p-objava-naslov">objavio:</p>
              <p class="p-objava"> it za decu - <span class="text-lowercase"> <a href="https://www.procoding.rs/" class="a-custom"> member of procoding group</a> </span></p>
            </div>
            <!-- post datum -->
            <div class="blog-date">
              <p class="p-datum-naslov">datum objave: </p>
              <p class="p-datum">02 Avgust 2019</p>
            </div>
            <!-- post naslov -->
            <h2 class="post-h2-custom"> Naslov nekog posta   Naslov nekog posta </h2>
            <!-- post sadržaj -->
            <div class="blog-short-description">
              <p class="p-custom p-custom-post">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            </div>
            <div class="separator-line  no-margin-lr"></div>
            <!-- post dugme -->
            <div class="col-md-12 col-sm-12 center-col text-center dugme-opsirnije"> <a  href="post-single/post-text-single.html" class="highlight-button btn btn-medium button xs-margin-bottom-five">opširnije...</a> </div>
          </div>
        </div>
        <!-- end content  -->
      </div>
    </div>
  </section>
  <!-- ***********************************end of POST text-section********************************************* -->
  <!-- ***********************************POST VIDEO-section********************************************* -->
  <section class="postSum">
    <div class="container">
      <div class="row">
        <!-- content  -->
        <div class="col-md-10 col-md-offset-1 col-xs-12  margin-five post-container">
          <!-- post image -->
          <div class="col-md-6  wow fadeInUp blog-listing post-wrap-img" data-wow-duration="500ms">
            <div class="blog-image">
              <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/YyVTD6CEplg"></iframe>
              </div>
            </div>
          </div>
          <!-- post objava -->
          <div class="col-md-6 blog-details">
            <div class="blog-date">
              <p class="p-objava-naslov">objavio:</p>
              <p class="p-objava"> it za decu - <span class="text-lowercase"> <a href="https://www.procoding.rs/" class="a-custom"> member of procoding group</a> </span></p>
            </div>
            <!-- post datum -->
            <div class="blog-date">
              <p class="p-datum-naslov">datum objave:</p>
              <p class="p-datum">02 Avgust 2019</p>
            </div>
            <!-- post naslov -->
            <h2 class="post-h2-custom">Naslov nekog posta   Naslov nekog posta </h2>
            <!-- post sadržaj -->
            <div class="blog-short-description">
              <p class="p-custom p-custom-post">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            </div>
            <div class="separator-line  no-margin-lr"></div>
            <!-- post dugme -->
            <div class="col-md-12 col-sm-12 center-col text-center dugme-opsirnije"> <a  href="post-single/post-video-single.html" class="highlight-button btn btn-medium button xs-margin-bottom-five">opširnije...</a> </div>
          </div>
        </div>
        <!-- end content  -->
      </div>
    </div>
  </section>
  <!-- ***********************************end of VIDEO -section********************************************* -->
  <!-- ***********************************POST text-section********************************************* -->
  <section class="postSum">
    <div class="container">
      <div class="row">
        <!-- content  -->
        <div class="col-md-10 col-md-offset-1 col-xs-12  margin-five post-container">
          <!-- post image -->
          <div class="col-md-6  wow fadeInUp blog-listing post-wrap-img" data-wow-duration="500ms">
            <div class="blog-image"><a href="post-single/post-text-single.html"><img class=" img-responsive" src="images/post-1.jpg" alt="opis slike"/></a></div>
          </div>
          <!-- post objava -->
          <div class="col-md-6 blog-details">
            <div class="blog-date">
              <p class="p-objava-naslov">objavio:</p>
              <p class="p-objava"> it za decu - <span class="text-lowercase"> <a href="https://www.procoding.rs/" class="a-custom"> member of procoding group</a> </span></p>
            </div>
            <!-- post datum -->
            <div class="blog-date">
              <p class="p-datum-naslov">datum objave:/p>
              <p class="p-datum">02 Avgust 2019</p>
            </div>
            <!-- post naslov -->
            <h2 class="post-h2-custom">Naslov nekog posta   Naslov nekog posta </h2>
            <!-- post sadržaj -->
            <div class="blog-short-description">
              <p class="p-custom p-custom-post">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            </div>
            <div class="separator-line  no-margin-lr"></div>
            <!-- post dugme -->
            <div class="col-md-12 col-sm-12 center-col text-center dugme-opsirnije"> <a  href="post-single/post-text-single.html" class="highlight-button btn btn-medium button xs-margin-bottom-five">opširnije...</a> </div>
          </div>
        </div>
        <!-- end content  -->
      </div>
    </div>
  </section>
  <!-- ***********************************end of POST text-section********************************************* -->
  <!-- ***********************************POST VIDEO-section********************************************* -->
  <section class="postSum">
    <div class="container">
      <div class="row">
        <!-- content  -->
        <div class="col-md-10 col-md-offset-1 col-xs-12  margin-five post-container">
          <!-- post image -->
          <div class="col-md-6  wow fadeInUp blog-listing post-wrap-img" data-wow-duration="500ms">
            <div class="blog-image">
              <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/YyVTD6CEplg"></iframe>
              </div>
            </div>
          </div>
          <!-- post objava -->
          <div class="col-md-6 blog-details">
            <div class="blog-date">
              <p class="p-objava-naslov">objavio:</p>
              <p class="p-objava"> it za decu - <span class="text-lowercase"> <a href="https://www.procoding.rs/" class="a-custom" style="color:#bcd742"> member of procoding group</a> </span></p>
            </div>
            <!-- post datum -->
            <div class="blog-date">
              <p class="p-datum-naslov">datum objave:</p>
              <p class="p-datum">02 Avgust 2019</p>
            </div>
            <!-- post naslov -->
            <h2 class="post-h2-custom">Naslov nekog posta   Naslov nekog posta </h2>
            <!-- post sadržaj -->
            <div class="blog-short-description">
              <p class="p-custom p-custom-post">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            </div>
            <div class="separator-line  no-margin-lr"></div>
            <!-- post dugme -->
            <div class="col-md-12 col-sm-12 center-col text-center dugme-opsirnije"> <a href="post-single/post-video-single.html" class="highlight-button btn btn-medium button xs-margin-bottom-five">opširnije...</a> </div>
          </div>
        </div>
        <!-- end content  -->
      </div>
    </div>
  </section>
  <!-- ***********************************end of VIDEO -section********************************************* -->
</main>
<!-- pagination -->
<div class="col-md-12 col-sm-12 col-xs-12 text-center pagination-custom"> <a href="#"><img src="images/arrow-pre-small.png" alt=""/></a> <a href="#" class="pg-broj active-pagin">1</a> <a href="#" class="pg-broj">2</a> <a href="#" class="pg-broj">3</a> <a href="#" class="pg-broj">4</a> <a href="#" class="pg-broj">5</a> <a href="#" class="pg-broj">6</a> <a href="#"><img src="images/arrow-next-small.png" alt=""/></a> </div>
<!-- end pagination -->
<!-- ******************************************************END OF  MAIN ************************************************************-->
<!-- ***************************************************************FOOTER************************************************************-->
<!-- footer -->
<footer class="footer">
  <div class="container footer-middle" style=" padding-top:0">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-12 text-center sm-text-center  footer-links-wrap">
        <!-- link -->
        <ul class="list-inline footer-link text-uppercase">
          <li class="mainNav-li footer-nav-li"><a href="index.html" class="mainNav-a footer-nav-a">It za decu</a> </li>
          <li class="mainNav-li footer-nav-li"><a href="baza-znanja.html" class="mainNav-a footer-nav-a footer-nav-a-active"><i class="fa fa-check-square-o" style="color:#1a98d5"></i>Baza znanja</a> </li>
          <li class="mainNav-li footer-nav-li"><a href="it-zanimljivosti.html" class="mainNav-a footer-nav-a">It zanimljivosti</a> </li>
        </ul>
      </div>
      <div class="col-md-5 col-sm-12 footer-social text-right sm-text-center footer-social-wrap">
        <!-- social media link -->
        <a href="https://www.facebook.com/centarprocoding/" class="btn social-icon social-icon-medium button" target="_blank"> <i class="fa fa-facebook"></i></a> <a href="https://www.youtube.com/channel/UCB-9j-ZWLvjXz35oefFOJ_A/" class="btn social-icon social-icon-medium button" target="_blank"> <i class="fa fa-youtube"></i></a> <a href="https://www.instagram.com/procoding_/" class="btn social-icon social-icon-medium button" target="_blank"><i class="fa fa-instagram"></i></a>
        <!-- end social media link -->
      </div>
	  
	   <div class="col-md-5 tel-mail-mob text-center"> <a  target="_blank" title="Instagram profil  'Procoding'" href="tel:+381621513644"  class="tel-mob"> <i class="fa fa-phone" style="color:#f7942e"></i> 062 / 151-36-44</a> <a target="_blank" title="Instagram profil  'Procoding'" href="info@procoding.rs" class="mail-mob"> <i class="fa fa-envelope" style="color:#f7942e"></i> info@procoding.rs</a> </div>
    </div>
  </div>
  <div class="container-fluid  footer-bottom">
    <div class="container">
      <div class="row margin-three">
        <!-- copyright -->
        <div class="col-md-12 col-sm-12 col-xs-12 copyright text-center letter-spacing-1 xs-text-center xs-margin-bottom-one white-text"> &copy; 2019 IT ZA DECU - <span class="text-lowercase">member of procoding group </span></div>
        <!-- end copyright -->
      </div>
    </div>
  </div>
  <!-- scroll to top -->
  <a href="#top" class="scrollToTop" style="background:#f7942e"><i class="fa fa-angle-up"></i></a>
  <!-- scroll to top End... -->
</footer>
<!-- end footer -->
<!-- ******************************************************END OF  FOOTER ************************************************************-->
<script type="text/javascript" src="js/js-libraries.js"></script>
<script type="text/javascript" src="js/smooth-scroll.js"></script>
<!-- jquery appear - animation - page scroll  - easy piechart -parallax -owl slider  -  imagesloaded -->
<script type="text/javascript" src="js/js-other.js"></script>
<!-- revolution slider  -->
<script type="text/javascript" src="js/jquery.tools.min.js"></script>
<script type="text/javascript" src="js/jquery.revolution.js"></script>
<!-- setting -->
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="js/js-custom.js"></script>

</body>
</html>
